name: Run Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --all-groups

      - name: Run tests
        env:
          TOKEN: ${{ secrets.TOKEN }}
          TEST_PROFILE_ID: ${{ secrets.TEST_PROFILE_ID }}
          TEST_DEVICE_ID: ${{ secrets.TEST_DEVICE_ID }}
          TEST_DEVICE_ID2: ${{ secrets.TEST_DEVICE_ID2 }}
        run: |
          uv run pytest tests/ -v
